[color]
    ui = auto

[user]
	name = Adrian Göransson
	signingKey = 76A773897E7969B5
    # Set email per project
[core]

[gpg]
program = gpg2 # Not all systems install a "gpg" symlink.

[alias]
    ci = commit -v
    ch = checkout
    pl = pull
    ph = push
    f = fetch --tags
    fa = fetch --all --tags
    r = reset
    rh = reset --hard
    st = status
    df = diff
    dfst = diff --stat -r
    l = log --date=local
    sh = show

[commit]
	gpgSign = true

[tag]
	gpgSign = true

[pull]
	ff = only
