[color]
    ui = auto
[user]
	name = Adrian Göransson
    # Set email per project
[core]
[alias]
    ci = commit -v
    ch = checkout
    pl = pull
    ph = push
    f = fetch --tags
    fa = fetch --all --tags
    r = reset
    rh = reset --hard
    st = status
    df = diff
    dfst = diff --stat -r
    l = log --date=local
    sh = show
